@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Wix+Madefor+Display:wght@400..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Oswald",
    "Wix" sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: Wix;
  src: url("./assets/WixMadeforDisplay-Bold.ttf");
}

.cssanimation,
.cssanimation span {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.cssanimation span {
  display: inline-block;
}

.fadeInBottom {
  animation-name: fadeInBottom;
}
@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
  }
}

.buttons {
  opacity: 0; /* Start invisible */
  animation: fadein-anim 1.5s linear forwards;
}

@keyframes fadein-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@layer utilities {
  .stroke-text {
    -webkit-text-stroke: 2px #ffffff;
  }
}

@keyframes waveEffect {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }
  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.animate-wave {
  animation: waveEffect 4s ease-in-out infinite;
}

.button-container button {
  /* width: 45%; */

  min-width: 120px;
  height: 40px;
  border: none;
  color: white;
  padding: 0 20px;

  cursor: pointer;
}

.button-container .blue {
  background-color: #1a6aff;
  border-radius: 8px;
}

.button-container .black {
  background-color: black;
  border-radius: 8px;
}

/* .button-container {
  width: 90%;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  margin-top: 40px;
} */

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 20px;
  width: 100%; /* Default for full responsiveness */
  max-width: 90%;
}

/* Small Screens: Adjust width */
@media (max-width: 640px) {
  .button-container {
    width: 80%;
    text-align: center;
  }
}

/* Medium Screens: Adjust width */
@media (min-width: 647px) and (max-width: 799px) {
  .button-container {
    max-width: 50%;
  }
}

/* Large Screens: Narrower width */
@media (min-width: 800px) and (max-width: 1154px) {
  .button-container {
    max-width: 40%;
  }
}

/* Extra Large Screens: Even narrower width */
@media (min-width: 1155px) {
  .button-container {
    max-width: 30%;
  }
}

@media (max-width: 1024px) {
  .subsection {
    margin-top: 7px !important;
  }
}

@media (min-width: 640px) {
  .subsection {
    margin-top: 7px !important;
  }
}

@media (min-width: 1025px) {
  .subsection {
    margin-top: 32px !important;
  }
}

@media (min-width: 2560px) {
  .subsection {
    margin-top: 69px !important;
  }
}
.blue:hover {
  background-color: #005ae0;
  transform: scale(1.05);
  box-shadow: 0px 0px 15px 3px rgba(255, 255, 255, 0.8);
}

.black:hover {
  background-color: black;
  transform: scale(1.05);
  box-shadow: 0px 0px 15px 3px rgba(255, 255, 255, 0.8);
}
